<div class="container center">
	<div class="row">


		<div class="col-md-6 col-sm-6 col-xs-8  col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-3">
				<h1>Person Name's Centered</h1><br>
				<p ng-repeat="name in names" class="fontSize">
						<span class="label label-primary">{{name.firstName}}</span> &nbsp;
						<span class="label label-primary">{{name.middleName}} </span> &nbsp;
						<span class="label label-primary">{{name.lastName}} </span>
						
				</p>
			
		</div>
	</div>
</div>